.product_title {
  width: 100%;
  margin-top: 65px;
}

.product_title_row {
  max-width: 1290px;
  margin: 0 auto;
  display: flex;
}

.product_title_columns {
  flex: 1;
  margin: 0 15px;
}

.product_title_columns_last {
  text-align: right;
}

.product_one {
  margin-top: 75px;
  width: 100%;
}

.product_one_row {
  max-width: 1290px;
  margin: 0 auto;
  display: flex;
}

.product_one_columns {
  border: 1px solid rgb(0, 0, 0);
  flex: 1;
}

.product_one_img {
  //border: 1px solid rgb(203, 203, 203);
}

.product_one_sale {
  height: 100%;
  padding-left: 30px;
  padding-top: 20px;
}

.product_one_sale_name {
  height: 20%;
  font-size: 40px;
  font-weight: 600px;
}
.product_one_sale_price {
  height: 20%;
  font-size: 25px;
}
.product_one_sale_number {
  height: 20%;
  display: flex;
}
.product_one_sale_number_name {
}
.product_one_sale_number_count {
  margin-left: 30px;
}
.product_one_sale_buy {
  height: 20%;
}
